accelerate==0.15.0
certifi==2022.12.7
charset-normalizer==3.0.1
ftfy==6.1.1
git+https://github.com/openai/CLIP.git
idna
numpy
packaging
pandas
Pillow
psutil
python-dateutil
pytz
PyYAML
regex
requests
six
torch==1.13.1
torchvision==0.14.1
tqdm
typing-extensions
urllib3
wcwidth
